{% extends 'usercenter_base.html' %}
{% block titile %}我的数据包——淘客在线网{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'users:user_info' %}">个人中心</a>></li>
                <li>我的团队</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block left_content %}
<section>
	<div class="wp list personal_list">
	<div class="left">
        <ul>
            <li ><a href="{% url 'users:origindata' %}">最新数据包</a></li>

            <li ><a href="{% url 'users:my_data' %}">我的数据包</a></li>

              <li ><a href="{% url 'users:my_order' %}">服务记录</a></li>
            <li ><a href="{% url 'users:my_buy' %}">我的购买</a></li>

            <li ><a href="{% url 'users:tool' %}">我的工具</a></li>
            <li class="active2"><a href="{% url 'users:my_team' %}">我的团队</a></li>

            <li ><a href="{% url 'users:mycourse' %}">我的课程</a></li>
            <li ><a href="{% url 'users:myfav_org' %}">我的收藏</a></li>
            <li ><a href="{% url 'users:user_info' %}">个人信息</a></li>

            <li > <a href="{% url 'users:mymessage' %}" style="position: relative;">我的消息</a></li>
        </ul>
	</div>
{% endblock %}
{% block right_content%}
     <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的团队({{ team_nums }}人) <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2755304662&site=qq&menu=yes"><img border="0" src="{% static 'img/qq.png' %}" alt="点击咨询" title="点击咨询"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: red">我的推荐人QQ：{{ myrecommand.qq }}</a></h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">


<div >

<div style="overflow-y: auto; height: auto; width:945px;">
<table style="width: 1100px">
	<thead>
		<tr>
			<th>淘客ID</th>
            <th>推荐ID</th>
            <th>邮箱</th>
            <th>姓名</th>
			<th>手机号码</th>


            <th>QQ</th>
            <th>注册时间</th>
            <th>是否激活</th>
            <th>最后登录时间</th>
            <th>裂变剩余次数</th>


		</tr>
	</thead>
	<tbody>
    {% for Team_one in Team_all.object_list %}
		<tr>

			<td style="text-align:center;vertical-align:middle;">{{ Team_one.id }}</td>
            <td style="text-align:center;vertical-align:middle;">{{ Team_one.recommand_id }}</td>
            <td style="text-align:center;vertical-align:middle;">{{ Team_one.email }}</td>
            <td style="text-align:center;vertical-align:middle;">  {{ Team_one.nick_name|default_if_none:'' }}</td>
            <td style="text-align:center;vertical-align:middle;">  {{ Team_one.mobile|default_if_none:'' }}</td>
            <td style="text-align:center;vertical-align:middle;"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{ Team_one.qq|default_if_none:'' }}&site=qq&menu=yes">{{ Team_one.qq|default_if_none:'' }}</a></td>
            <td style="text-align:center;vertical-align:middle;">{{ Team_one.date_joined }}</td>

            <td style="text-align:center;vertical-align:middle;">{% ifequal Team_one.is_active True  %}是{% else %}否{% endifequal %} </td>
        <td style="text-align:center;vertical-align:middle;">{{ Team_one.last_login|default_if_none:'' }}</td>


            <td style="text-align:center;vertical-align:middle;">{{ Team_one.get_liebian_now }}</td>
        <td style="text-align:center;vertical-align:middle;">{{ Team_one.get_liebian_use_last_time }}</td>







		</tr>
    {% endfor %}
	</tbody>
</table>
</div >

	<div class="pageturn pagerright">
                <ul class="pagelist">
                    {% if Team_all.has_previous %}
                        <li class="long"><a href="?{{ Team_all.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}

                    {% for page in Team_all.pages %}
                        {% if page %}
                            {% ifequal page Team_all.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                           <li><a href="" class="none">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if Team_all.has_next %}
                        <li class="long"><a href="?{{ Team_all.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
</div>








				</div>
			</div>
		</div>
	</div>
{% endblock %}

