{% extends 'usercenter_base.html' %}
{% block titile %}我的课程——淘客在线网{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'users:user_info' %}">个人中心</a>></li>
                <li>我的课程</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block left_content %}
<section>
	<div class="wp list personal_list">
	<div class="left">
        <ul>
            <li ><a href="{% url 'users:origindata' %}">最新数据包</a></li>

            <li ><a href="{% url 'users:my_data' %}">我的数据包</a></li>

              <li ><a href="{% url 'users:my_order' %}">服务记录</a></li>
            <li ><a href="{% url 'users:my_buy' %}">我的购买</a></li>

            <li ><a href="{% url 'users:tool' %}">我的工具</a></li>
            <li ><a href="{% url 'users:my_team' %}">我的团队</a></li>

            <li class="active2"><a href="{% url 'users:mycourse' %}">我的课程</a></li>
            <li ><a href="{% url 'users:myfav_org' %}">我的收藏</a></li>
            <li ><a href="{% url 'users:user_info' %}">个人信息</a></li>

            <li > <a href="{% url 'users:mymessage' %}" style="position: relative;">我的消息</a></li>
        </ul>
	</div>
{% endblock %}

{% block right_content%}
     <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的课程 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2755304662&site=qq&menu=yes"><img border="0" src="{% static 'img/qq.png' %}" alt="点击咨询" title="点击咨询"/></a></h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">

                    {% for user_course in user_courses %}

                    <div class="module1_5 box">
                            <a href="{% url 'course:course_detail' user_course.course.id %}">
                                <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ user_course.course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url 'course:course_detail' user_course.course.id %}"><h2>{{ user_course.course.name }}</h2></a>
                                <span class="fl">课时：<i class="key">{{ user_course.course.learn_times }}</i></span>
                                <span class="fr">学习人数：{{ user_course.course.students }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ user_course.course.course_org.name }}</span>
                                <span class="star fr  notlogin" data-favid="15">{{ user_course.course.fav_nums }}</span>
                            </div>
                        </div>

                    {% endfor %}




				</div>
			</div>
		</div>
	</div>
{% endblock %}

